.vscode
_brace_check
_cat
_cmos_test
_difftest
_echo
_forktest
_getpid_test
_grep
_init
_kill
_ln
_long_sleep_test
_ls
_make_user_test
_mkdir
_next_palindrome_test
_rm
_sh
_sleep_test
_stressfs
_usertests
_wc
_zombie
bio.d
bio.o
bootasm.d
bootasm.o
bootblock
bootblock.asm
bootblock.o
bootblockother.o
bootmain.d
bootmain.o
brace_check.asm
brace_check.d
brace_check.o
brace_check.sym
cat.asm
cat.d
cat.o
cat.sym
cmos_test.asm
cmos_test.d
cmos_test.o
cmos_test.sym
console.d
console.o
difftest.asm
difftest.d
difftest.o
difftest.sym
echo.asm
echo.d
echo.o
echo.sym
entry.o
entryother
entryother.asm
entryother.d
entryother.o
exec.d
exec.o
file.d
file.o
forktest.asm
forktest.d
forktest.o
fs.d
fs.img
fs.o
getpid_test.asm
getpid_test.d
getpid_test.o
getpid_test.sym
grep.asm
grep.d
grep.o
grep.sym
ide.d
ide.o
init.asm
init.d
init.o
init.sym
initcode
initcode.asm
initcode.d
initcode.o
initcode.out
ioapic.d
ioapic.o
kalloc.d
kalloc.o
kbd.d
kbd.o
kernel
kernel.asm
kernel.sym
kill.asm
kill.d
kill.o
kill.sym
lapic.d
lapic.o
ln.asm
ln.d
ln.o
ln.sym
log.d
log.o
long_sleep_test.asm
long_sleep_test.d
long_sleep_test.o
long_sleep_test.sym
ls.asm
ls.d
ls.o
ls.sym
main.d
main.o
make_user_test.asm
make_user_test.d
make_user_test.o
make_user_test.sym
mkdir.asm
mkdir.d
mkdir.o
mkdir.sym
mkfs
mp.d
mp.o
next_palindrome_test.asm
next_palindrome_test.d
next_palindrome_test.o
next_palindrome_test.sym
picirq.d
picirq.o
pipe.d
pipe.o
printf.d
printf.o
proc.d
proc.o
rm.asm
rm.d
rm.o
rm.sym
sh.asm
sh.d
sh.o
sh.sym
sleep_test.asm
sleep_test.d
sleep_test.o
sleep_test.sym
sleeplock.d
sleeplock.o
spinlock.d
spinlock.o
stressfs.asm
stressfs.d
stressfs.o
stressfs.sym
string.d
string.o
swtch.o
syscall.d
syscall.o
sysfile.d
sysfile.o
sysproc.d
sysproc.o
trap.d
trap.o
trapasm.o
uart.d
uart.o
ulib.d
ulib.o
umalloc.d
umalloc.o
user.d
user.o
usertests.asm
usertests.d
usertests.o
usertests.sym
usys.o
vectors.S
vectors.o
vm.d
vm.o
wc.asm
wc.d
wc.o
wc.sym
xv6.img
zombie.asm
zombie.d
zombie.o
zombie.sym
.gdbinit